*{
    margin:0;
    border: border-box;
}
/* NAVBAR */
.navbar{
    position: sticky;
    display: flex;
    height: 6rem;
    border: 0.2rem solid white;
    background-color: black;
    border-radius: 10px;
   
}
/* NAVBAR LOGO */
.logo{
    background-color: white;
    display:inline;
    position: relative;
    height: 3.5rem;
    width: 4.5rem;
    text-align: center;
    margin-left: 6rem;
}
/* NAVBAR BUTTONS */
.bar{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 6rem;
}

.b1{
    height: 3rem;
    width: 5.1rem;
    border: 2px solid black;
    margin-right :1rem;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0.4rem;
    text-align: center;
}
.b1:hover{
    background-color: blue;
}
a{
    text-decoration: none;
    color: white;
    margin-top: 1rem;
    font-size: large;
}
.a{
    text-decoration: none;
    color: white;
    background-color: black;
    border: none;
    
}

/* INTRODUCTION */
.intro{
    background-color: black;
    position: relative;
    margin-top: 0.1rem;
    height: 32rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.intro:hover{
    background-color: pink;
}
/* SOLGAN */
.slogan{
   width:50%;
    color:white;
}
/* ANIMATION */
.anime{
    width: 50%;
    color:white;
}
/* RESOURCES */
.res{
    background-color: black;
    margin-top: 0.1rem;
    height: 32rem;
    display: flex;
    flex-direction: column;
    
}
/* BUTTONS */
.r{
    background-color: blue;
}